<launch>
  <node
    pkg="edge_detection"
    type="edged.py"
    name="edged"
    required="true"
    output="screen"
  />
  <node
    pkg="rostopic"
    type="rostopic"
    name="echo_boxes"
    required="false"
    args="list"
    output="screen"
    launch-prefix="gnome-terminal --"
  />
</launch>
