<launch>
  <node
    pkg="edge_detection"
    type="edge_detection.py"
    name="vision"
    required="true"
    output="screen"
  />
  <node
    pkg="rostopic"
    type="rostopic"
    name="vision_echo"
    required="false"
    args="list"
    output="screen"
    launch-prefix="terminator -x"
  />
</launch>
